@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #023455;
  /* background-image: url(./image.jpg); tried a resized bg image but has wonky scaling */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
