<link href= "/public/css/signup.css" rel="stylesheet" type="text/css" />

<div className="signup-wrapper">
  <h3>Create an Account</h3>
  <h5>ONLY FOR CURRENT BCIT NURSING STUDENTS</h5>
  <form action="/signup" method="post" class="form">
    <label>
      <!-- <label for="email">BCIT Email</label> -->
      <p>BCIT Email</p>
      <input type="text" name="email" id="email" required>
    </label>
    <label>
      <!-- <label for="password">Password</label> -->
      <p>Password</p>
      <input type="password" name="password" id="password" required>
    </label>
    <label>
      <!-- <label for="password2">Confirm Password</label> -->
      <p>Confirm Password</p>
      <input type="password" name="password2" id="password2" required>
    </label>
    <div class="submit-button" >
      <button type="submit">Submit </button>
    </div>
  </form>
  <a class="login-link" href="/login">Back to Login</a>

</div>