@import url(https://fonts.googleapis.com/css?family=Roboto+Flex);

h3 {
    margin-left: 35%;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #023455;
    /* margin-left: 4.5rem; */
    margin-top: 30px;
}

h5 {
    margin-left: 35%;
    font-family: "Roboto Flex", sans-serif;
    font-size: 15px;
    color: #023455;
    /* margin-left: 1rem; */
}

p {
    font-family: "Roboto Flex", sans-serif;
}

.form  {
    left: 35%;
    font-family: "Roboto Flex", sans-serif;
    /* margin-left: 5.5rem;
    margin-top: 10px; */
    position: relative;

    border-radius: 12px;
    border: 0;
    box-sizing: border-box;

    padding: 20px;
    height: 500px;
    width: 320px;
}

.signup-wrapper {
    justify-content: center;
    height: 100vh;
    display: flex;
    font-family: "Roboto Flex", sans-serif;
    /* flex-direction: column; */
    align-items: center; 
    color: #023455;
    /* margin-top: 150px;
    margin-left: 2rem; */
}

.signup-wrapper input {
    align-items: center;
    border: 1px solid #023455;
    border-radius: 10px;
    height: 35px;
    width: 240px;
    font-weight: 600;
}

.submit-button {
    margin-top: 40px;
    align-content: center;
    margin-left:0%;
}

.submit-button button {
    font-family: "Roboto Flex", sans-serif;
    background: #023455;
    color: white;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    height: 36px;
    width: 170px;
    border-radius: 10px;
    border-color: #023455;
}

.login-link {
    font-family: "Roboto Flex", sans-serif;
    /* margin-top: 20px; */
    margin-left: 35%;
    /* margin-left: 7.5rem; */
    font-size: 16px;
    color: #023455;
    text-decoration: none;
    text-align: center;
    align-items: center; 
}
